nav h1{
    width:100%;     /* ---- center anything in just first 5 lines-- */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 40px;    
    /* font-weight: 900; */
    font-family: 'Prata', serif;
    color:#35605a;
    letter-spacing: 0.007em;
}
section{
    width:60%;
    border:1.3em solid #ccc;
    margin:30px auto;
    padding:15px;
}

article .first{
    width: 400px;
    float: left;
    margin:1px 10px 5px 5px;
    
}
article .second{
    width: 400px;
    float: right;
    margin:1px 10px 5px 5px;
    
}

h2{
    font-family: 'Roboto', sans-serif;
    color: rgb(8, 8, 137);
    /* margin-left: 10em; */
    padding-left: 6em;
    text-align: left;
}

.para{
    clear:both;
}

p{
    line-height: 1.6em;
    letter-spacing: 0.09em;
}

.special::first-letter{
   font-size: 40px;
}

 hr    {
        overflow: visible; /* For IE */
        height: 30px;
        border-style: solid;
        border-color: black;
        border-width: 1px 0 0 0;
        border-radius: 20px;
        }
 hr:before { /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: black;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }
